# write a program  to create a tuple.

In [1]:
a= tuple(input("enter tuple element"))
print(a)
print(type(a))

enter tuple element67757
('6', '7', '7', '5', '7')
<class 'tuple'>

# program to create tuple with different data types .

In [2]:
t=("rohit",8,5,7,True,'kedar',6)
print(t)
print(type(t))

('rohit', 8, 5, 7, True, 'kedar', 6)
<class 'tuple'>

# program to create tuple with number and print one item.

In [3]:
a=tuple (input("enter interger for tuple elenents:"))
print(a)
print("any one integer item in tuple:",int(a[2]))

enter interger for tuple elenents:8787657
('8', '7', '8', '7', '6', '5', '7')
any one integer item in tuple: 8

#  program to add an item in tuple.

In [4]:
t=(2,4,6,8,10)
t1=t+(12,)
print(t1)

(2, 4, 6, 8, 10, 12)

In [5]:
t=(1,2,3,4,5)
l1=list(t)
print(l1)
l1.append(6)
t1=tuple(l1)
print(t1)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6)

# write a program to convert a tupple to a string.

In [6]:
t= tuple(input ("enter tuple element:"))
print(t)
print(type(t))
s= str(t)
print(s)
print(type(s))

enter tuple element:67757bjgj557
('6', '7', '7', '5', '7', 'b', 'j', 'g', 'j', '5', '5', '7')
<class 'tuple'>
('6', '7', '7', '5', '7', 'b', 'j', 'g', 'j', '5', '5', '7')
<class 'str'>

#  write a program to get the 4th element and 4th element from last of a tuple.

In [7]:
t = tuple (input ("enter tuple elemnt :"))
print(t)
print("4th element from first :",t[3])
print("4th element from second :",t[-4])

enter tuple elemnt :86885
('8', '6', '8', '8', '5')
4th element from first : 8
4th element from second : 6